# Fala devs, blz?? 

Esta será nossa quinta lista de exercícios para você testar seu conhecimento acerca do conteúdo do MÓDULO 3:

-Pandas I

## INSTRUÇÕES:

A lista deve ser realizada pelo Jupyter Notebook.

Nâo é necessário entregar a lista para afins de certificado dentro da plataforma, entretanto para alunos da USP que queiram participar do processo seletivo ou conseguir créditos AAC (apenas FEANOS) é necessária a entrega de TODAS as listas.

A entrega das listas ou pelo menos sua excecução é recomendada a fim de exercitar todo o conhecimento adquirido do curso.

O DESAFIO é para realmente te desafiar, por isso não desista de tentar e de continuar com o curso, ao longo das listas você verá que cada vez mais você terá ferramentas para completá-lo.

Caso haja alguma dúvida acerca da lista participe das monitorias que serão oferecidas as quintas e sábados das 17h as 18h pelo DISCORD. Caso seu problema não seje resolvido envie uma mensagem para contato.feadev@gmail.com

O gabarito será disponibilizado na plataforma após o término de periodo de envio

In [1]:
## vamos começar??

Toda nossa lista 5 abordará uma temática única de acordo com a base de dados escolhida para a realização da mesma.

**PAÍSES MENOS CORRUPTOS SÃO MAIS FELIZES?**

Será que a felicidade e a corrupção têm alguma relação? A resposta a essa pergunta não é tão clara quanto gostaríamos que fosse. A felicidade é o que todos desejam, enquanto a corrupção é frequentemente vista como algo que a sociedade deve combater. No entanto, a conexão direta entre esses dois conceitos é desafiadora de estabelecer.

A corrupção é prejudicial, pois mina a confiança nas instituições públicas e distorce a alocação de recursos. Isso certamente não soa como um ingrediente para a felicidade. No entanto, em muitos lugares, a corrupção é endêmica, mas as pessoas ainda relatam altos níveis de felicidade. Isso nos faz questionar se a percepção de felicidade pode ser independente da corrupção.

Talvez as pessoas se adaptem à corrupção, ou talvez outros fatores, como economia e segurança, desempenhem um papel mais significativo em sua felicidade. Em última análise, a relação entre felicidade e corrupção é complexa, e as respostas podem variar dependendo do contexto.

Portanto, a questão persiste: **será que a corrupção realmente impede a felicidade? Ou será que a felicidade pode ser encontrada em meio à corrupção?**

vamos utilizar da base de dados Happiness and Corruption 2015-2020

https://www.kaggle.com/datasets/eliasturk/world-happiness-based-on-cpi-20152020

para chegar em alguma conclusão sobre o tema

## QUESTÃO 0

Carregue os dados do arquivo "happiness_corruption.csv" em um DataFrame e mostre as primeiras 5 linhas do DataFrame 

baixe a base pelo link abaixo: https://www.kaggle.com/datasets/eliasturk/world-happiness-based-on-cpi-20152020

In [2]:
import pandas as pd

full_df = pd.read_csv("Dados_worldHappiness.csv")
display(full_df)

,Country,happiness_score,gdp_per_capita,family,health,freedom,generosity,government_trust,dystopia_residual,continent,Year,social_support,cpi_score
0,Norway,7.5370,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027,Europe,2015,0.000000,88
1,Denmark,7.5220,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707,Europe,2015,0.000000,91
2,Iceland,7.5040,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715,Europe,2015,0.000000,79
3,Switzerland,7.4940,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716,Europe,2015,0.000000,86
4,Finland,7.4690,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182,Europe,2015,0.000000,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,Botswana,3.4789,0.997549,0.000000,0.494102,0.509089,0.033407,0.101786,0.257241,Africa,2020,1.085695,60
788,Tanzania,3.4762,0.457163,0.000000,0.442678,0.509343,0.271541,0.203881,0.718963,Africa,2020,0.872675,38
789,Rwanda,3.3123,0.343243,0.000000,0.572383,0.604088,0.235705,0.485542,0.548445,Africa,2020,0.522876,54
790,Zimbabwe,3.2992,0.425564,0.000000,0.375038,0.377405,0.151349,0.080929,0.841031,Africa,2020,1.047835,24
791,Afghanistan,2.5669,0.300706,0.000000,0.266052,0.000000,0.135235,0.001226,1.507236,Asia,2020,0.356434,19

## QUESTÃO 1

**Exploração Inicial dos Dados**

a) Verifique o número de linhas e colunas no DataFrame. **lembre-se do método .shape**

In [3]:
full_df.shape

(792, 13)

b) Liste as colunas presentes no DataFrame. **lembre-se do método .columns**

In [4]:
full_df.columns

Index(['Country', 'happiness_score', 'gdp_per_capita', 'family', 'health',
       'freedom', 'generosity', 'government_trust', 'dystopia_residual',
       'continent', 'Year', 'social_support', 'cpi_score'],
      dtype='object')

c) Verifique se há valores nulos em cada coluna.

In [5]:
full_df.describe()

,happiness_score,gdp_per_capita,family,health,freedom,generosity,government_trust,dystopia_residual,Year,social_support,cpi_score
count,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000,792.000000
mean,5.473310,0.929217,0.504998,0.648691,0.427016,0.212440,0.125720,1.379277,2017.500000,0.609302,44.327020
std,1.124726,0.385774,0.552736,0.232261,0.148003,0.121660,0.109032,1.075276,1.708904,0.640754,19.508833
min,2.566900,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2015.000000,0.000000,11.000000
25%,4.590750,0.644242,0.000000,0.510070,0.325433,0.125784,0.052862,0.000000,2016.000000,0.000000,30.000000
50%,5.485500,0.994544,0.000000,0.685397,0.439621,0.197000,0.089000,1.731948,2017.500000,0.176214,38.000000
75%,6.300500,1.228677,1.040410,0.815641,0.546280,0.273250,0.154250,2.236894,2019.000000,1.268250,57.000000
max,7.808700,2.096000,1.610574,1.141000,0.724000,0.838075,0.551910,3.602140,2020.000000,1.644000,91.000000

In [6]:
full_df.isnull()

,Country,happiness_score,gdp_per_capita,family,health,freedom,generosity,government_trust,dystopia_residual,continent,Year,social_support,cpi_score
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
787,False,False,False,False,False,False,False,False,False,False,False,False,False
788,False,False,False,False,False,False,False,False,False,False,False,False,False
789,False,False,False,False,False,False,False,False,False,False,False,False,False
790,False,False,False,False,False,False,False,False,False,False,False,False,False
791,False,False,False,False,False,False,False,False,False,False,False,False,False

## QUESTÃO 2

a) Remova as colunas não relevantes que não serão usadas na análise, como "generosity" (generosidade), "family"(familia),
"health"( saúde), "freedom" (liberdade), "dystopia_residual"(distopia residual), "social_support" (suporte social) e "cpi_score"

In [7]:
dados_df = full_df.drop(["generosity", "family", "health", "freedom", 
                         "dystopia_residual", "social_support", "cpi_score"], axis=1)

display(dados_df)

,Country,happiness_score,gdp_per_capita,government_trust,continent,Year
0,Norway,7.5370,1.616463,0.315964,Europe,2015
1,Denmark,7.5220,1.482383,0.400770,Europe,2015
2,Iceland,7.5040,1.480633,0.153527,Europe,2015
3,Switzerland,7.4940,1.564980,0.367007,Europe,2015
4,Finland,7.4690,1.443572,0.382612,Europe,2015
...,...,...,...,...,...,...
787,Botswana,3.4789,0.997549,0.101786,Africa,2020
788,Tanzania,3.4762,0.457163,0.203881,Africa,2020
789,Rwanda,3.3123,0.343243,0.485542,Africa,2020
790,Zimbabwe,3.2992,0.425564,0.080929,Africa,2020
791,Afghanistan,2.5669,0.300706,0.001226,Asia,2020

b) 
Renomeie as colunas para torná-las mais descritivas. Por exemplo, renomeie "Score" para "Pontuacao_Felicidade", "Country" para "Países", "GDP per capita" para "PIB_Per_Capita", "continent" para "Continentes", "Year" para "ano" e government_trust para "confian_gov".

In [8]:
dados_df.rename(columns={"happiness_score": "Pontuação", 
                         "Country": "Países", 
                         "gdp_per_capita": "PIB_per_Capita", 
                         "government_trust": "Confin_Gov",
                         "continent": "Continente",
                         "Year": "Ano"}, inplace=True)
display(dados_df)

          Países  Pontuação  PIB_per_Capita  Confin_Gov Continente   Ano
0         Norway     7.5370        1.616463    0.315964     Europe  2015
1        Denmark     7.5220        1.482383    0.400770     Europe  2015
2        Iceland     7.5040        1.480633    0.153527     Europe  2015
3    Switzerland     7.4940        1.564980    0.367007     Europe  2015
4        Finland     7.4690        1.443572    0.382612     Europe  2015
..           ...        ...             ...         ...        ...   ...
787     Botswana     3.4789        0.997549    0.101786     Africa  2020
788     Tanzania     3.4762        0.457163    0.203881     Africa  2020
789       Rwanda     3.3123        0.343243    0.485542     Africa  2020
790     Zimbabwe     3.2992        0.425564    0.080929     Africa  2020
791  Afghanistan     2.5669        0.300706    0.001226       Asia  2020

[792 rows x 6 columns]

## QUESTÃO 3

**Estatísticas Descritivas**

Calcule estatísticas descritivas para as colunas relevantes: "Score" (pontuação de felicidade), "GDP per capita" (PIB per capita) e "Corruption Perception" (percepção de corrupção) e . Mostre a média, mediana, desvio padrão, mínimo e máximo para cada uma dessas colunas.

In [17]:
dados_df.describe()

        Pontuação  PIB_per_Capita  Confin_Gov          Ano
count  792.000000      792.000000  792.000000   792.000000
mean     5.473310        0.929217    0.125720  2017.500000
std      1.124726        0.385774    0.109032     1.708904
min      2.566900        0.000000    0.000000  2015.000000
25%      4.590750        0.644242    0.052862  2016.000000
50%      5.485500        0.994544    0.089000  2017.500000
75%      6.300500        1.228677    0.154250  2019.000000
max      7.808700        2.096000    0.551910  2020.000000

## QUESTÃO 4

Vamos usar somente o ano de 2019 para facilitar a análise.

a) Incluir no dataframe apenas as linhas do ano de 2019

In [10]:
#seu codigo começa aqui

b) Criar um novo DataFrame com países que têm pontuação de felicidade acima da média global ( do exercicio anterior)

In [11]:

#seu codigo começa aqui

# QUESTÃO 5

**Classificação**

Classifique o DataFrame resultante do Exercício 4 pela coluna "Score" em ordem decrescente. Mostre os 10 países com as maiores pontuações de felicidade. Isso é útil para responder a perguntas como:

Quais países têm os maiores níveis de felicidade? A classificação em ordem decrescente fornece uma lista dos países com as maiores pontuações de felicidade, destacando aqueles que estão no topo da lista.

Houve alguma mudança significativa na classificação da felicidade ao longo do tempo? Comparando a classificação em diferentes anos, é possível identificar se houve mudanças significativas na pontuação de felicidade de países específicos.

Quais países são modelos de sucesso em termos de felicidade? A classificação ajuda a identificar países que são frequentemente citados como exemplos de sucesso em termos de bem-estar e qualidade de vida.

In [12]:
#SEU CÓDIGO COMEÇA AQUI##

## QUESTÃO 6

**Agrupando Dados por Região**

Agrupe os dados por região (coluna "Region") e calcule a média das pontuações de felicidade para cada região. Ordene as regiões pela média de pontuação de felicidade em ordem decrescente.

In [13]:
### Seu código começa aqui  lembre do groupy.by

## QUESTÃO 7

**Lidando com Dados Ausentes**

Verifique se há dados ausentes no DataFrame e, se houver, retire a linha inteira em questão. Certifique-se de que o DataFrame não possui mais dados ausentes após o preenchimento.

In [14]:
#seu código começa aqui

# Questão 8

Agora você tem uma base de dados limpa e com informações relevantes para responder algumas questões.

- Países mais ricos são mais felizes? 
- Países com maior confiança no governo (menos experiencias com corrupção) são mais felizes?
- Aonde se localizam os países mais felizes? Europa? Ásia?....

**Países com maior confiança no governo são mais felizes?**

a) Calcule a média da coluna "Confianca_Gov" para obter um valor médio que será usado como ponto de corte.

In [15]:
#seu codigo começa aqui

b) Com base na média calculada, crie uma nova coluna no DataFrame que atribuirá um rótulo ("alta" ou "baixa") a cada país de acordo com sua confiança no governo em relação à média.

In [16]:
#seu codigo começa aqui

# Função para atribuir os rótulos "alta" ou "baixa" com base na média

def 



# Aplique a função para criar a nova coluna de rótulos

data['Rotulo_Confianca'] = data['Confianca_Gov'].apply(rotulo_confianca)  #O método apply é usado para aplicar uma função a cada valor da coluna "Confianca_Gov". Neste caso, a função rotulo_confianca é aplicada a cada valor individual da coluna.

# Exiba as primeiras linhas do DataFrame com a nova coluna

print(data.head())

SyntaxError: invalid syntax (194010966.py, line 5)

c) Após dividir os países em grupos, calcule a média da pontuação de felicidade para cada grupo separadamente.

In [ ]:
#seu codigo começa aqui

d) Use um gráfico de barras para representar a relação entre o nível de confiança no governo e a média da pontuação de felicidade. Cada barra no gráfico representa um grupo (alta ou baixa) e a altura da barra representa a média da pontuação de felicidade para esse grupo.

In [ ]:
# seu codigo começa aqui

plt.figure(figsize=(10, 6))
media_por_grupo.plot(kind='bar', color='skyblue') ## bar = grafico em barras  ## skyblue é a cor do grafico
plt.title('')  ## dê um titulo 
plt.xlabel('')  ## o que você quer no eixo x
plt.ylabel('')    ## o que você quer no eixo y
plt.xticks(rotation=0)
plt.show()

e) qual é a conclusão de **Países com maior confiança no governo são mais felizes?**

RESPOSTA...............

## QUESTÃO 9

**Países mais ricos são mais felizes?**

a) Crie um gráfico de dispersão (scatter plot) que mostre a relação entre a pontuação de felicidade e o PIB per capita. Coloque a pontuação de felicidade no eixo vertical (y) e o PIB per capita no eixo horizontal (x). Adicione rótulos aos eixos e um título informativo ao gráfico.

In [ ]:
import matplotlib.pyplot as plt

# Defina os dados para os eixos x e y
x = data['']
y = data['']

# Crie o gráfico de dispersão
plt.figure(figsize=(10, 6))  # Define o tamanho da figura
plt.scatter(x, y, alpha=0.5)  # Cria o scatter plot com transparência

# Adicione rótulos aos eixos
plt.xlabel('')
plt.ylabel('')
plt.title('')

# Exiba o gráfico
plt.show()

b) Qual é a conclusão de **Países mais ricos são mais felizes?**

RESPOSTA  ............

## QUESTÃO 10

**Aonde se localizam os países mais felizes? Europa? Ásia?....**

a) Calcule a média da pontuação de felicidade (Score) em todo o DataFrame.

In [ ]:
##seu codigo começa aqui

b) Crie dois DataFrames separados: um com os países com pontuação de felicidade acima da média e outro com os países com pontuação abaixo da média.

In [ ]:

##seu codigo começa aqui

c) Para cada um dos dois DataFrames criados no item b, crie subgrupos calculando a contagem de países por continente (coluna "Region"). dica: .value_counts()

In [ ]:

##seu codigo começa aqui

d) Calcule a porcentagem que cada continente representa em relação ao total de países em cada grupo.

In [ ]:
## lembre-se :porcentagem_acima_da_media = (contagem_acima_da_media / len(acima_da_media)) * 100

##seu codigo começa aqui

e) Crie gráficos de barras que mostrem a porcentagem de cada continente nos grupos de alta felicidade e baixa felicidade.

In [ ]:

##seu codigo começa aqui

import matplotlib.pyplot as plt

# Gráfico de barras para o grupo de alta felicidade

plt.figure(figsize=(10, 6))
plt.bar(porcentagem_acima_da_media.index, porcentagem_acima_da_media)
plt.title('')
plt.xlabel('Continente')
plt.ylabel('Porcentagem')
plt.xticks(rotation=45)

# Exibir o gráfico
plt.show()

# Gráfico de barras para o grupo de baixa felicidade

### faça a mesma coisa do grafico acima porem para o grupo de baixa felicidade

f)  Qual é a conclusão da questão: **Aonde se localizam os países mais felizes? Europa? Ásia?....**

RESPOSTA ...........

APÓS A LISTA VOCÊ CONSEGUE ENXERGAR ALGUMA CONCLUSÃO SOBRE A QUESTÃO INICIAL DO TEMA?